<mat-card>
    <mat-card-header [routerLink]="['/carpetas', folder.id]">
        <mat-card-title>{{  folder.name | titlecase}}</mat-card-title>
        <mat-card-subtitle>{{ folder.date| date}}</mat-card-subtitle>
        <strong>Notas: {{ folder.notes?.length || 0 }}</strong>
    </mat-card-header>
    <mat-card-actions align="end">
       
        <button mat-icon-button
        *ngIf="isDeleted"
        (click)="restore(folder)">
            <mat-icon>restore</mat-icon>
        </button>
        <button mat-icon-button style="background-color: rgb(210, 18, 18);"
        *ngIf="isDeleted"
        (click)="deleteForeverModal(folder)">
            <mat-icon style="color: white;">delete_forever</mat-icon>
        </button>
        <button mat-icon-button style="background-color: rgb(210, 18, 18);"
                (click)="deleteModal(folder)"
                *ngIf="!isDeleted">
            <mat-icon style="color: white;">delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
