mat-card{
    width: 350px;
    margin: 5px;
    background-color: rgb(237, 218, 255);
    max-width: 100%;
}

mat-card-header{
    display: flex;
    flex-direction: column;
}

@media (max-width:410px){
    mat-card{
        width:300px;
    }
}