<div class="container">
        <mat-form-field>
         <input matInput [(ngModel)]="note.title" 
                         style="font-weight: bold;"
                         #titleInput> 
          </mat-form-field>
  
            <textarea  [(ngModel)]="note.body"
                        #bodyInput> 
            </textarea>
        

          <mat-form-field 
          *ngIf="!note.deleted && folders.length>0">
            <mat-label>Guardar en </mat-label>
            <mat-select matInput>
              <mat-option 
              value="notas" 
              (click)="selectFolder('notas')">
                Notas
              </mat-option>
              <mat-option [value]="folder.name" *ngFor="let folder of folders"
                          (click)="selectFolder(folder.id)">
                          
                                  {{ folder.name | titlecase}}
            </mat-option>
            </mat-select>
          </mat-form-field>
     
          
          <mat-card-actions class="actions">
            <button type="submit" mat-raised-button style="height: 50px; margin-right: 5px;"
                    (click)="updateNote()"
                    *ngIf="!note.deleted">
                    Guardar
            </button>
              
            <button mat-icon-button style="background-color: rgb(210, 18, 18);"
            (click)="deleteModal(note)"
            *ngIf="!note.deleted">
                <mat-icon style="color: white;">delete</mat-icon>
            </button>

            <button mat-icon-button *ngIf="note.deleted" (click)="restore(note)">
              <mat-icon>restore</mat-icon>
           </button>

            <button mat-icon-button style="background-color: rgb(210, 18, 18);"
            *ngIf="note.deleted"
            (click)="deleteForeverModal(note)">
                <mat-icon style="color: white;">delete_forever</mat-icon>
            </button>
        </mat-card-actions>
</div> 