<div class="container">
        <mat-form-field>
         <input matInput [(ngModel)]="note.title" 
                         style="font-weight: bold;"
                         #titleInput> 
          </mat-form-field>
  
            <textarea  [(ngModel)]="note.body"
                        #bodyInput> 
            </textarea>
        

          <mat-form-field>
            <mat-label>Agregar a </mat-label>
            <mat-select matInput>
              <mat-option [value]="folder.name" *ngFor="let folder of folders"
                          (click)="selectFolder(folder.id)">
                          
                                  {{ folder.name | titlecase}}
            </mat-option>
            </mat-select>
          </mat-form-field>
    
          
          <mat-card-actions class="actions">
            <button type="submit" mat-raised-button style="height: 50px; margin-right: 5px;"
                    (click)="updateNote()">Guardar
            </button>
              
            <button mat-icon-button style="background-color: rgb(210, 18, 18);"
            (click)="delete(note)"
            routerLink="/notas">
                <mat-icon style="color: white;">delete</mat-icon>
            </button>
        </mat-card-actions>
</div>