<mat-card >
    <mat-card-header [routerLink]="['/notas', note.id]">
        <mat-card-title>{{  note.title| titlecase}}</mat-card-title>
        <mat-card-subtitle>{{ note.date | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
        {{note.body}}
    </mat-card-content>
    
    <mat-card-actions align="end">
        
        <button mat-icon-button *ngIf="isDeleted" (click)="restore(note)">
            <mat-icon>restore</mat-icon>
        </button>
        <button mat-icon-button style="background-color: rgb(210, 18, 18);"
        *ngIf="isDeleted"
        (click)="deleteForeverModal(note)">
            <mat-icon style="color: white;">delete_forever</mat-icon>
        </button>
        <button mat-icon-button style="background-color: rgb(210, 18, 18);"
                (click)="deleteModal(note)"
                *ngIf="!isDeleted">
            <mat-icon style="color: white;">delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
 