mat-card{
    width: 350px;
    margin: 5px;
    height: fit-content;
    overflow: hidden;
}

mat-form-field{
    height: 55px;
    width: 110px;
    display: block;
    margin-right: 5px;
}

mat-label{
    font-size: 13px;
}

mat-card-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}