<mat-card>
    <mat-card-header>
        <mat-card-title>{{  title | titlecase}}</mat-card-title>
        <mat-card-subtitle>{{ date | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{body}}
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-icon-button>
            <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!isDeleted">
            <mat-icon>edit</mat-icon>
        </button>
        
        <mat-form-field *ngIf="!isDeleted">
            <mat-label> Agrear a </mat-label>
            <mat-select matInput>
                <mat-option [value]="folder.name" *ngFor="let folder of folders" (click)="addToFolder(folder.name)">{{ folder.name | titlecase}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        
        <button mat-icon-button *ngIf="isDeleted" (click)="restore(note)">
            <mat-icon>restore</mat-icon>
        </button>
        <button mat-icon-button style="background-color: rgb(210, 18, 18);"
        *ngIf="isDeleted"
        (click)="deleteForeverModal(note)">
            <mat-icon style="color: white;">delete_forever</mat-icon>
        </button>
        <button mat-icon-button style="background-color: rgb(210, 18, 18);"
                (click)="delete(note)"
                *ngIf="!isDeleted">
            <mat-icon style="color: white;">delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>